<% if user_signed_in? %>
  <div class='container'>
    <h1>Welcome, <%= current_user.name %>.</h1>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <h3 class="panel-title">Personalized Health Communications</h3>
        </div>
        <div class="panel-body">
          <%= form_for current_user, :url => user_registration_path do |f| %>
            <div class='form-group'>
              <%= f.label :phone_number_country_code, 'What is your phone number?' %>
              <div>
                +
                <%= f.select :phone_number_country_code, 1..10, {}, :class => 'form-control', :style => 'display: inline; width: auto;' %>
                <%= f.text_field :phone_number_area_code, :size => 3, :class => 'form-control', :style => 'display: inline; width: auto;' %>
                <%= f.text_field :phone_number_suffix, :size => 7, :class => 'form-control', :style => 'display: inline; width: auto;' %>
              </div>
            </div>

            <p><strong>Which health conditions would you like to subscribe to?</strong></p>
            <div class='form-group'>
              <% HealthCondition.all.group_by(&:category).each do |category, health_conditions| %>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= category %></h3>
                  </div>
                  <div class="panel-body">
                    <% health_conditions.each do |health_condition| %>
                      <div>
                        <% eid = "user_health_condition_ids_#{health_condition.id}" %>
                        <%= check_box_tag 'user[health_condition_ids][]', health_condition.id, current_user.health_condition_subscriptions.any? { |hcs| hcs.health_condition_id == health_condition.id }, :id => eid, :style => 'font-size: 20px' %>
                        <%= label_tag eid, health_condition.name %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>

            <%= f.button 'Save', :class => 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <!-- Main jumbotron for a primary marketing message or call to action
    -->
  <div class="jumbotron">
    <div class="container">
      <div id="words">
        <h1>HealthTexts.com!</h1>
        <p>
          The communication platform for a healthy future.
        </p>
        <p><%= link_to "Sign Up Now!", new_user_registration_path, class:"btn btn-primary btn-lg" %></p>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Personalized</h2>
        <p>
          Regardless of your condition, HealthTexts.com is here for you. We curate the most up to date information ranging from diet and exercise, research breakthroughs, even potential warnings about your medications all sent with a simple text message.
        </p>
        <p>
          <a class="btn btn-default" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Doctor to Patient</h2>
        <p>
          Our advanced platform connects your office with patients in the way they prefer to communicate: through text messaging. Whether you want to send out a office notice to all patients, send generalized advice or even allowing patients to schedule appointments.
        </p>
        <p>
          <a class="btn btn-default" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Person to Person</h2>
        <p>
          Use HealthTexts.com to keep family and friends up to date with the latest news on your condition in a private more personal way. A single text message from HealthTexts.com system and all your friends and family can get the same text message.
        </p>
        <p>
          <a class="btn btn-default" href="#">View details »</a>
        </p>
      </div>
    </div>
  </div>
<% end -%>

