<% if user_signed_in? %>
  <div class='container'>
    <h1>Welcome, <%= current_user.name %>.</h1>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <h3 class="panel-title">Personalized Health Communications</h3>
        </div>
        <div class="panel-body">
          <%= form_for current_user, :url => user_registration_path do |f| %>
            <div class='form-group'>
              <%= f.label :phone_number_country_code, 'What is your phone number?' %>
              <div>
                +
                <%= f.select :phone_number_country_code, 1..10, {}, :class => 'form-control', :style => 'display: inline; width: auto;' %>
                <%= f.text_field :phone_number_area_code, :size => 3, :class => 'form-control', :style => 'display: inline; width: auto;' %>
                <%= f.text_field :phone_number_suffix, :size => 7, :class => 'form-control', :style => 'display: inline; width: auto;' %>
              </div>
            </div>

            <p><strong>Which health conditions would you like to subscribe to?</strong></p>
            <div class='form-group'>
              <% HealthCondition.all.group_by(&:category).each do |category, health_conditions| %>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= category %></h3>
                  </div>
                  <div class="panel-body">
                    <% health_conditions.each do |health_condition| %>
                      <div>
                        <% eid = "user_health_condition_ids_#{health_condition.id}" %>
                        <%= check_box_tag 'user[health_condition_ids][]', health_condition.id, current_user.health_condition_subscriptions.any? { |hcs| hcs.health_condition_id == health_condition.id }, :id => eid, :style => 'font-size: 20px' %>
                        <%= label_tag eid, health_condition.name %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>

            <%= f.button 'Save', :class => 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <!-- Main jumbotron for a primary marketing message or call to action
    -->
  <div class="jumbotron">
    <div class="container">
      <div id="words">
        <h1>HealthTexts.com!</h1>
        <p>
          This is a template for a simple marketing or informational website.
        </p>
        <p><%= link_to "Sign Up Now!", new_user_registration_path, class:"btn btn-primary btn-lg" %></p>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>
          Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
          odio dui.
        </p>
        <p>
          <a class="btn btn-default" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>
          Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
          odio dui.
        </p>
        <p>
          <a class="btn btn-default" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>
          Heading
        </h2>
        <p>
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
          eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus,
          tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus.
        </p>
        <p>
          <a class="btn btn-default" href="#">View details »</a>
        </p>
      </div>
    </div>
  </div>
<% end -%>

